.cardColor0 {
  background-image:url('../assets/cats/0.jpg');
  background-repeat:no-repeat;
  background-size:contain;
  background-position:center;
}

.cardColor1 {
  background-image:url('../assets/cats/1.jpg');
  background-repeat:no-repeat;
  background-size:contain;
  background-position:center;
}

.cardColor2 {
  background-image:url('../assets/cats/2.jpg');
  background-repeat:no-repeat;
  background-size:contain;
  background-position:center;
}

.cardColor3 {
  background-image:url('../assets/cats/3.jpg');
  background-repeat:no-repeat;
  background-size:contain;
  background-position:center;
}

.cardColor4 {
  background-image:url('../assets/cats/4.jpg');
  background-repeat:no-repeat;
  background-size:contain;
  background-position:center;
}

.cardColor5 {
  background-image:url('../assets/cats/5.jpg');
  background-repeat:no-repeat;
  background-size:contain;
  background-position:center;
}

.cardColor6 {
  background-image:url('../assets/cats/6.jpg');
  background-repeat:no-repeat;
  background-size:contain;
  background-position:center;
}

.cardColor7 {
  background-image:url('../assets/cats/7.jpg');
  background-repeat:no-repeat;
  background-size:contain;
  background-position:center;
}

.cardColor8 {
  background-image:url('../assets/cats/8.jpg');
  background-repeat:no-repeat;
  background-size:contain;
  background-position:center;
}

.cardColor9 {
  background-image:url('../assets/cats/9.jpg');
  background-repeat:no-repeat;
  background-size:contain;
  background-position:center;
}

.cardColor10 {
  background-image:url('../assets/cats/10.jpg');
  background-repeat:no-repeat;
  background-size:contain;
  background-position:center;
}

.cardColor11 {
  background-image:url('../assets/cats/11.jpg');
  background-repeat:no-repeat;
  background-size:contain;
  background-position:center;
}

.cardColor12 {
  background-image:url('../assets/cats/12.jpg');
  background-repeat:no-repeat;
  background-size:contain;
  background-position:center;
}

.cardColor13 {
  background-image:url('../assets/cats/13.jpg');
  background-repeat:no-repeat;
  background-size:contain;
  background-position:center;
}

.cardColor14 {
  background-image:url('../assets/cats/14.jpg');
  background-repeat:no-repeat;
  background-size:contain;
  background-position:center;
}

.cardColor15 {
  background-image:url('../assets/cats/15.jpg');
  background-repeat:no-repeat;
  background-size:contain;
  background-position:center;
}

.cardColor16 {
  background-image:url('../assets/cats/16.jpg');
  background-repeat:no-repeat;
  background-size:contain;
  background-position:center;
}

.cardColor17 {
  background-image:url('../assets/cats/17.jpg');
  background-repeat:no-repeat;
  background-size:contain;
  background-position:center;
}

.cardColor18 {
  background-image:url('../assets/cats/18.jpg');
  background-repeat:no-repeat;
  background-size:contain;
  background-position:center;
}

.cardColor19 {
  background-image:url('../assets/cats/19.jpg');
  background-repeat:no-repeat;
  background-size:contain;
  background-position:center;
}

.cardColor20 {
  background-image:url('../assets/cats/20.jpg');
  background-repeat:no-repeat;
  background-size:contain;
  background-position:center;
}

.cardColor21 {
  background-image:url('../assets/cats/21.jpg');
  background-repeat:no-repeat;
  background-size:contain;
  background-position:center;
}

.cardColor22 {
  background-image:url('../assets/cats/22.jpg');
  background-repeat:no-repeat;
  background-size:contain;
  background-position:center;
}

.cardColor23 {
  background-image:url('../assets/cats/23.jpg');
  background-repeat:no-repeat;
  background-size:contain;
  background-position:center;
}

.cardColor24 {
  background-image:url('../assets/cats/24.jpg');
  background-repeat:no-repeat;
  background-size:contain;
  background-position:center;
}

.cardColor25 {
  background-image:url('../assets/cats/25.jpg');
  background-repeat:no-repeat;
  background-size:contain;
  background-position:center;
}

.cardColor26 {
  background-image:url('../assets/cats/26.jpg');
  background-repeat:no-repeat;
  background-size:contain;
  background-position:center;
}

.cardColor27 {
  background-image:url('../assets/cats/27.jpg');
  background-repeat:no-repeat;
  background-size:contain;
  background-position:center;
}

.cardColor28 {
  background-image:url('../assets/cats/28.jpg');
  background-repeat:no-repeat;
  background-size:contain;
  background-position:center;
}

.cardColor29 {
  background-image:url('../assets/cats/29.jpg');
  background-repeat:no-repeat;
  background-size:contain;
  background-position:center;
}

.cardColor30 {
  background-image:url('../assets/cats/30.jpg');
  background-repeat:no-repeat;
  background-size:contain;
  background-position:center;
}

.cardColor31 {
  background-image:url('../assets/cats/31.jpg');
  background-repeat:no-repeat;
  background-size:contain;
  background-position:center;
}
