.cardColor0 {
  background-image:url('../assets/cards/aceOfSpades.png');
  background-repeat:no-repeat;
  background-size:contain;
  background-position:center;
}

.cardColor1 {
  background-image:url('../assets/cards/aceOfHearts.png');
  background-repeat:no-repeat;
  background-size:contain;
  background-position:center;
}

.cardColor2 {
  background-image:url('../assets/cards/aceOfDiamonds.jpg');
  background-repeat:no-repeat;
  background-size:contain;
  background-position:center;
}

.cardColor3 {
  background-image:url('../assets/cards/aceOfClubs.png');
  background-repeat:no-repeat;
  background-size:contain;
  background-position:center;
}

.cardColor4 {
  background-image:url('../assets/cards/jackOfDiamonds.jpg');
  background-repeat:no-repeat;
  background-size:contain;
  background-position:center;
}

.cardColor5 {
  background-image:url('../assets/cards/jackOfHearts.jpg');
  background-repeat:no-repeat;
  background-size:contain;
  background-position:center;
}

.cardColor6 {
  background-image:url('../assets/cards/jackOfSpades.jpg');
  background-repeat:no-repeat;
  background-size:contain;
  background-position:center;
}

.cardColor7 {
  background-image:url('../assets/cards/jackOfClubs.jpg');
  background-repeat:no-repeat;
  background-size:contain;
  background-position:center;
}

.cardColor8 {
  background-image:url('../assets/cards/kingOfClubs.jpg');
  background-repeat:no-repeat;
  background-size:contain;
  background-position:center;
}

.cardColor9 {
  background-image:url('../assets/cards/kingOfSpades.jpg');
  background-repeat:no-repeat;
  background-size:contain;
  background-position:center;
}

.cardColor10 {
  background-image:url('../assets/cards/kingOfHearts.jpg');
  background-repeat:no-repeat;
  background-size:contain;
  background-position:center;
}

.cardColor11 {
  background-image:url('../assets/cards/kingOfDiamonds.jpg');
  background-repeat:no-repeat;
  background-size:contain;
  background-position:center;
}

.cardColor12 {
  background-image:url('../assets/cards/queenOfClubs.png');
  background-repeat:no-repeat;
  background-size:contain;
  background-position:center;
}

.cardColor13 {
  background-image:url('../assets/cards/queenOfSpades.jpg');
  background-repeat:no-repeat;
  background-size:contain;
  background-position:center;
}

.cardColor14 {
  background-image:url('../assets/cards/queenOfHearts.jpg');
  background-repeat:no-repeat;
  background-size:contain;
  background-position:center;
}

.cardColor15 {
  background-image:url('../assets/cards/queenOfDiamonds.jpg');
  background-repeat:no-repeat;
  background-size:contain;
  background-position:center;
}

.cardColor16 {
  background-image:url('../assets/cards/tenOfClubs.jpg');
  background-repeat:no-repeat;
  background-size:contain;
  background-position:center;
}

.cardColor17 {
  background-image:url('../assets/cards/tenOfSpades.jpg');
  background-repeat:no-repeat;
  background-size:contain;
  background-position:center;
}

.cardColor18 {
  background-image:url('../assets/cards/tenOfHearts.jpg');
  background-repeat:no-repeat;
  background-size:contain;
  background-position:center;
}

.cardColor19 {
  background-image:url('../assets/cards/tenOfDiamonds.jpg');
  background-repeat:no-repeat;
  background-size:contain;
  background-position:center;
}

.cardColor20 {
  background-image:url('../assets/cards/nineOfSpades.png');
  background-repeat:no-repeat;
  background-size:contain;
  background-position:center;
}

.cardColor21 {
  background-image:url('../assets/cards/nineOfClubs.png');
  background-repeat:no-repeat;
  background-size:contain;
  background-position:center;
}

.cardColor22 {
  background-image:url('../assets/cards/nineOfHearts.png');
  background-repeat:no-repeat;
  background-size:contain;
  background-position:center;
}

.cardColor23 {
  background-image:url('../assets/cards/nineOfDiamonds.png');
  background-repeat:no-repeat;
  background-size:contain;
  background-position:center;
}

.cardColor24 {
  background-image:url('../assets/cards/eightOfSpades.png');
  background-repeat:no-repeat;
  background-size:contain;
  background-position:center;
}

.cardColor25 {
  background-image:url('../assets/cards/eightOfClubs.png');
  background-repeat:no-repeat;
  background-size:contain;
  background-position:center;
}

.cardColor26 {
  background-image:url('../assets/cards/eightOfHearts.png');
  background-repeat:no-repeat;
  background-size:contain;
  background-position:center;
}

.cardColor27 {
  background-image:url('../assets/cards/eightOfDiamonds.png');
  background-repeat:no-repeat;
  background-size:contain;
  background-position:center;
}

.cardColor28 {
  background-image:url('../assets/cards/sevenOfSpades.png');
  background-repeat:no-repeat;
  background-size:contain;
  background-position:center;
}

.cardColor29 {
  background-image:url('../assets/cards/sevenOfClubs.png');
  background-repeat:no-repeat;
  background-size:contain;
  background-position:center;
}

.cardColor30 {
  background-image:url('../assets/cards/sevenOfHearts.png');
  background-repeat:no-repeat;
  background-size:contain;
  background-position:center;
}

.cardColor31 {
  background-image:url('../assets/cards/sevenOfDiamonds.png');
  background-repeat:no-repeat;
  background-size:contain;
  background-position:center;
}
