/*includes */

@import "card-color.css";

/*general*/


/*centering absolute*/
.centerAbsolute {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.login, .game, .gameOver {
    height: 100%;
    width: 100%;
    background-color: white;
    background-image: url('../assets/bg3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.loginForm {
    height: 400px;
    width: 800px;
    border: 1px solid #333;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: 2px 2px 15px #000;
}

.loginInputs {
    height: 100%;
    width: 400px;
    margin: 0 auto;
    padding-top: 30px;
}

.userName, .difficulty {
    padding: 10px;
    border-radius: 5px;
}

.userName, .difficulty, .startButton {
    display:block;
    margin: 50px auto;
    height: 50px;
    width: 200px;
    background-color: rgba(255, 255, 255, 0.7);
}

.game, .gameOver {
    display: none;
    height: 100%;
    width: 100%;
    padding-top: 5%;
}

.userTitle, .time {
    position: absolute;
    font-size: 30px;
    color: fuchsia;
    font-weight: bold;
    top: 10px;
}

.userTitle {
    left: 10px;
}

.time {
    right: 10px;
}

.cardContainer {
    width: 1024px;
    height: 824px;
    margin: 0 auto;
    background-image: url('../assets/bg5.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.cardEasy {
    position: relative;
    float: left;
    display: inline-block;
    width: 256px;
    height: 206px;
    border: 1px solid green;
}

.cardMedium {
    position: relative;
    float: left;
    display: inline-block;
    width: 170.6px;
    height: 137.3px;
    border: 1px solid green;
}

.cardHard {
    position: relative;
    float: left;
    display: inline-block;
    width: 128px;
    height: 103px;
    border: 1px solid green;
}

.cardStars {
    background-image: url('../assets/bg6.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.cardAfter::after {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    /*background-image: url('../assets/bg6.jpg');*/
}

.gameOverContainer {
  width: 1024px;
  height: 824px;
  margin: 0 auto;
  background-image: url('../assets/bg5.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.gameOverData {
  width: 600px;
  height: 400px;
  border-radius: 5%;
  background-color: rgba(255, 255, 255, 0.5);
}

.gameOverDiv {
  height: 100%;
  width: 300px;
  margin: 0 auto;
}

.gameOverText, .endName,
.endTime {
  text-align: center;
  font-size: 32;
  font-weight: bold;
  border-radius: 5%;
  padding-top: 10%;
  padding-bottom: 10%;
}

.retryButton {
  font-size: 32;
  font-weight: bold;
  border-radius: 10%;
  display:block;
  margin: 50px auto;
  width: 200px;
  background-color: rgba(255, 255, 255, 0.7);
}

.text-center {
    margin-top: 0;
    margin-bottom: 0;
}

@media screen and (max-width: 790px) {
    .loginForm {
        width: 500px;
    }
}

@media screen and (max-height: 800px){
  .cardContainer {
    height: 500px;
    width: 600px;
  }

  .cardEasy {
    height: 125px;
    width: 150px;
  }

  .cardMedium {
    height: 83.3px;
    width: 100px;
  }

  .cardHard {
    height: 62.5px;
    width: 75px;
  }

}
